{% extends 'layout.html' %}
{% block style %}
{{ super() }}
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
{% endblock style %}
{% block body %}
<div class="container">
    <div class="columns m-2">
        <div class="column col-4 mx-1">
            <img src="{{ poke.img }}" alt="pokemon">
            <h3 class="my-2">{{ poke.name }}</h3>
        </div>
        <div class="divider-vert" data-content="Date"></div>
        <div class="column col-4 col-mr-auta mx-1">
            <div class="panel">
                <div class="panel-header">
                    <div class="panel-title">
                        <h3 class="my-1">
                            Pokemon Data
                        </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>National No.</th>
                                <td>
                                    <span class="px-1">{{ poke.no }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>Types </th>
                                <td>
                                    {% for ty in poke.data.types %}
                                    <span class="px-1">{{ ty.name }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Species </th>
                                <td>
                                    <span class="px-1">{{ poke.data.species }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>height </th>
                                <td>
                                    <span class="px-1">{{ poke.data.height }} m</span>
                                </td>
                            </tr>
                            <tr>
                                <th>weight  </th>
                                <td>
                                    <span class="px-1">{{ poke.data.weight }} Kg</span>
                                </td>
                            </tr>
                            <tr>
                                <th>abilities </th>
                                <td>
                                    {% for ab in poke.data.abilities %}
                                    <span class="px-1">{{ ab }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-lg btn-success">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
    <div class="columns m-2 py-2">
        <h3 class="column col-12 my-2">Pokemon Stats</h3>
        <div class="column col-4 my-2 py-2">
            <div class="ct-chart"></div>
        </div>
        <div class="column col-2 card">
            <div class="card-body">
                <h4>HP: <span class="text-small text-muted">{{ poke.stats.hp }}</span></h4>
                <h4>Attack : <span class="text-small text-muted">{{ poke.stats.attack }}</span></h4>
                <h4>Defense : <span class="text-small text-muted">{{ poke.stats.defense }}</span></h4>
                <h4>Speed : <span class="text-small text-muted">{{ poke.stats.speed }}</span></h4>
            </div>
        </div>
    </div>
</div>
<script>
new Chartist.Pie('.ct-chart', {
        series: [{{ poke.stats.hp }}, {{ poke.stats.attack }}, {{ poke.stats.defense }}, {{ poke.stats.speed }}]
    }, {
            donut: true,
            donutWidth: 30,
            donutSolid: true,
            startAngle: 270,
            showLabel: true,
            high: 500,
            width: 500,
        });
</script>
{% endblock %}
