{% extends 'layout.html' %}
{% block style %}
{{ super() }}
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
{% endblock style %}
{% block body %}
<div class="container">
    <div class="columns m-2">
        <div class="column col-4 mx-1">
            <img src="https://via.placeholder.com/400" alt="pokemon">
        <h3 class="my-2">Pokemon Name</h3>
        </div>
        <div class="divider-vert" data-content="Date"></div>
        <div class="column col-4 col-mr-auta mx-1">
            <div class="panel">
                <div class="panel-header">
                    <div class="panel-title">
                        <h3 class="my-1">
                            Pokemon Data
                        </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>National No.</th>
                                <td>
                                    <span class="px-1">lorem5</span>
                                    <span class="px-1">lorem5</span>
                                </td>
                            </tr>
                            <tr>
                                <th>Types </th>
                                <td>
                                    <span class="px-1">lorem5</span>
                                    <span class="px-1">lorem5</span>
                                </td>
                            </tr>
                            <tr>
                                <th>Species </th>
                                <td>
                                    <span class="px-1">lorem5</span>
                                    <span class="px-1">lorem5</span>
                                </td>
                            </tr>
                            <tr>
                                <th>height </th>
                                <td>
                                    <span class="px-1">lorem5</span>
                                    <span class="px-1">lorem5</span>
                                </td>
                            </tr>
                            <tr>
                                <th>weight  </th>
                                <td>
                                    <span class="px-1">lorem5</span>
                                    <span class="px-1">lorem5</span>
                                </td>
                            </tr>
                            <tr>
                                <th>abilities </th>
                                <td>
                                    <span class="px-1">lorem5</span>
                                    <span class="px-1">lorem5</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-lg btn-success">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
    <div class="columns m-2 py-2">
        <h3 class="column col-12 my-2">Pokemon Stats</h3>
        <div class="column col-4 my-2 py-2">
            <div class="ct-chart"></div>
        </div>
        <div class="column col-2 card">
            <div class="card-body">
                <h4>HP: <span class="text-small text-muted">3660</span></h4>
                <h4>Attack : <span class="text-small text-muted">3660</span></h4>
                <h4>Defense : <span class="text-small text-muted">3660</span></h4>
                <h4>Speed : <span class="text-small text-muted">3660</span></h4>
            </div>
        </div>
    </div>
</div>
<script>
new Chartist.Pie('.ct-chart', {
        series: [20, 90, 50, 40]
    }, {
            donut: true,
            donutWidth: 30,
            donutSolid: true,
            startAngle: 270,
            showLabel: true,
            high: 500,
            width: 500,
        });
</script>
{% endblock %}
